* {
  box-sizing: content-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* set the root em */
html {
  font-size: 16px;
}

#content {
  display: flex;
  justify-content: center;
  text-align: center;
}

#dashboard {
  color: #f7f7f7;
  background-color: rgba(0,0,0,0.8);
  font-weight: bold;
}

#dashboard-title {
  text-align: center;
  margin-bottom: 10px;
}

#dashboard-stats {
  text-align: left;
}

#dashboard-timer {
  display: inline-block;
  min-width: 80px;
  margin-left: 5px;
}

#dashboard-score {
  display: inline-block;
  margin-left: 20px;
}
