@font-face {
  font-family: 'vcr-osd-mono';
  src: url('vcr-osd-mono/vcr_osd_mono_1.001-webfont.woff') format('woff'),
  url('vcr-osd-mono/vcr_osd_mono_1.001.ttf') format('truetype');
}  

* {
  box-sizing: content-box;
}

/* set the root em */
html {
  font-size: 16px;
  background-color: rgba(0,0,0,0.8);
}

#content {
  display: flex;
  justify-content: center;
  text-align: center;
}

#dashboard {
  color: #f7f7f7;
  font-weight: 900;
}

#dashboard-title {
  text-align: center;
  margin-bottom: 10px;
}

#dashboard-stats {
  text-align: left;
}

#dashboard-timer {
  display: inline-block;
  min-width: 80px;
  margin-left: 5px;
}

#dashboard-score {
  display: inline-block;
  margin-left: 20px;
}
